<?php

return array(
    'cache' => array(
        'plugins' => array(
            'exception_handler' => array(
                'throw_exceptions' => true,
            ),
        ),
    ),
    'view_manager' => array(
        'display_not_found_reason'  => true,
        'display_exceptions'        => true,
    ),
);
